

/* For mobile devices */
@media only screen and (max-width: 400px) {
  #canoe-img, #photo-area, article {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  h1, nav a, .close-button {
    font-size: 4vw;
    padding: 1vw 0;
  }
  h2, article, h3 {
    font-size: 3vw;
    padding: 1vw 0;
  }
  input, select, option, textarea, .modal button {
    font-size: 2vw;
    padding: 1vw 0;
  }

}

/* For tablets */
@media only screen and (min-width: 401px) {
  #canoe-img, #photo-area, article, textarea {
    width: 100%;
  }
  nav {
    width: 25vw;
    height: 100%;
  }
  h1, nav a, .close-button {
    font-size: 4vw;
    padding: 1vw 0;
  }
  h2, article, h3 {
    font-size: 3vw;
    padding: 1vw 0;
  }
  input, select, option, textarea, .modal button {
    font-size: 2vw;
    padding: 1vw 0;
  }
}

/* For desktops */
@media only screen and (min-width: 1000px) {
  #canoe-img, #photo-area, article {
    width: 1000px;
  }
  nav {
    width: 250px;
    height: 100%;
  }
  h1, nav a, .close-button {
    font-size: 40px;
    padding: 10px 0;
  }
  h2, article, h3 {
    font-size: 30px;
    padding: 10px 0;
  }
  input, select, option, textarea, .modal button {
    font-size: 20px;
    padding: 10px 0;
  }
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica, Verdana, sans-serif;
}

#mrcanoehead {
  position:absolute;
  z-index: 1;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  height: 50px;
  background-color: red;
  margin: 0px auto;
  z-index: 2;
}

nav {
  position:fixed;
  background-color: red;  
  overflow:hidden;
  white-space:nowrap;
  color: white;
  padding: 5px;
}

nav li {
  list-style-type: none;
}

nav a, .modal-content a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

article, #photo-area {
  position: relative;
  top: 50px;
  display: block;margin-left: auto;
  margin-right: auto;
}

article {
  text-align: justify; 
}

label {
  display: inline-block;
  width: 12vw;
  text-align: right;
}

#photo-area {
  z-index: 0;
}

.loren p, h2{
  padding: 3px 0;
}

.adventure {
  padding: 2px 0;
}

.adventure h2 {
  text-decoration: underline;
}

/* bubble style from https://codepen.io/alvaromontoro/pen/zYqzgoy */
#bubble::before {
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  height: 100%;
  bottom: -51%;
  border-radius: 50%;
  left: 10%;
  box-shadow: 0.5vw 0, 2vw -0.5vw #ffd, 2vw -0.5vw 0 0.5vw;
  clip-path: polygon(0% 59%, 150% 48%, 150% 100%, 0% 100%);
}

#bubble {
  position: absolute;
  box-sizing: border-box;
  color: black;
  border: 0.5vw solid black;
  border-radius: 100%;
  width: 20vw;
  height: 10vw;
  /* left: 1vw;
  top: -5vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  background: #ffd;
  box-shadow: 0 -0.25vw, 0 0.125vw;
  font-family: "Comic Sans", "Comic Neue", sans-serif;
}

.modal{
  display:flex;
  z-index:100;
  align-items:center;
  justify-content:center;
  opacity:0;
  transition: .3s opacity ease-in-out;
  padding: 2em;
  position:fixed;
  top: 15vh;
  left: 15vw;
  background: rgba(255,0,0,.70);
  width: 70vw;
  height: 70vh;
  /* background-color:red; */
  pointer-events: none;
  border: 4px solid black;
  border-radius: 4px;
  
}

.modal:target{
  opacity: 1;
  pointer-events: auto;
}

/* .modal-show{
  opacity: 0;
  pointer-events: none;
} */

.modal-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* #adventure-form .close, #thank-you .close { */
.close-button {
  color: white;
  position: absolute; 
  top: 0;
  right: 0;
  transform: rotate(45deg);
  text-decoration: none;
  padding-right: 0.5em;
}
.close-button:hover {
  color: black;
}

.modal-button {
  margin-left: auto;
  margin-right: auto;
}

#hamburger:hover, #paddle:hover {
  background-color: black;
}